.introducao {
    text-align: center;
    padding-bottom: 15vh;
}

.introducao__imagem {
    width: 100vw;
}

.introducao__container-conteudo {
    margin: 3em 1em 4em;
}

.introducao__conteudo-titulo {
    font-size: 35px;
    font-weight: 700;
    color: var(--preto);
}

.introducao__conteudo-descricao {
    color: var(--cinza-medio);
    font-size: 16px;
    line-height: 27px;
    margin: 1.5em 0 2.5em;
}

.introducao__conteudo-botao {
    text-decoration: none;
    color: var(--branco);
    background: var(--preto);
    padding: 0.8em 1.2em;
    border-radius: 14px;
}

.introducao__container-clientes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}

.introducao__clientes-logo {
    width: 19vw;
}

@media screen and (min-width: 1440px) {
    .introducao {
        margin: 5vh 8vw 0vh;
        display: grid;
        grid-template-areas: 
        "conteudo imagem"
        "conteudo imagem"
        "clientes imagem";
        grid-template-columns: 48% 35%;
        grid-template-rows: 38% 38% 10%;
        column-gap: 8vw;
        row-gap: 2rem;
    }

    .introducao__container-imagem {
        grid-area: imagem;
    }

    .introducao__imagem {
        width: 32vw;
    }

    .introducao__container-conteudo {
        grid-area: conteudo;
        text-align: left;
        padding: 5vh 0;
    }

    .introducao__conteudo-titulo {
        font-size: 82px;
        
    }

    .introducao__conteudo-descricao {
        font-size: 21px;
        line-height: 34px;
    }

    .introducao__conteudo-botao {
        font-size: 22px;
        padding: 1em 1.5em;
    }

    .introducao__container-clientes {
        grid-area: clientes;

    }

    .introducao__clientes-logo {
        width: 7vw;
    }
}