body {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 1rem;
}

.nav__menu-list, 
.nav__user-botton {
    display: none;
}

.mobile__menu,
.fade {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.mobile__menu {
    background: var(--branco);
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.2rem;
    width: 55%;
    height: 100vh;
    z-index: 10;
}

.mobile__container-menu {
    text-align: right;
}

.mobile__menu-item {
    padding: 0.7rem 0.5rem;
}

.submenu__button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding: 0;
}

.tópicos{
    color: var(--cinza-medio);
    text-decoration: none;
    font-size: 16px;
}

.submenu__feature-list {
    padding: 0.8em 0 0 1.5em;
}

.submenu__feature-item {
    padding-bottom: 0.8em;
}

.subtopicos {
    font-size: 15px;
    padding-left: 0.5em;
}

.mobile__menu-botton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__botton-login {
    padding: 0.6em 3.5em;

}

.menu__botton-register {
    border: 1px solid var(--cinza-medio);
    border-radius: 0.8rem;
}

.menu__link-login {
    font-size: 16px;
    text-decoration: none;
    color: var(--cinza-medio);
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.off {
    display: none;
}


@media screen and (min-width: 1440px) {
    .navbar {
        padding: 2rem 3rem;
        align-items: flex-start;
    }
    
    .nav__container-menu {
        display: none;
    }
    
    .nav__menu-list {
        display: flex;
        justify-content: space-between;
        width: 35vw;
        margin-right: 20vw;
    }

    .nav__user-botton {
        display: flex;
    }

    .user__link-register {
        padding: .7em 1.5em;
    }
}